# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
/ecommerce

# Build directories
/bin/
/build/
/out/

# Vendor
/vendor/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Temporary files
*.swp
*.swo

#env
.env
